* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 80vh;
    


}




.question {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: #b0bbc7 0px 4px 8px;
    padding: 15px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.score {
    font-size: 18px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.question-number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
}

.options {
    margin: 10px 0;
}

.start-quiz {
    
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    align-self: flex-end;
}

/* make the button at the end of horizontal line */
.next-btn {
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    align-self: flex-end;
    
        
}

.next-btn:hover {
    background: #0056b3;
}

.button{
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    
    border-radius: 5px;
    transition: background 0.3s ease;
    align-self: center;
}

.button:hover {
    background: #0056b3;
}



.app-header {
  text-align: center;
  padding: 0 20px 40px;
  background: linear-gradient(135deg, #0056b3, #7205df);
  color: white;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.time{
    text-align: end;
}

.app-header .logo {
  font-size: 3rem;
  animation: float 3s ease-in-out infinite;
}

.app-header h1 {
  margin: 10px 0 5px;
  font-size: 2.5rem;
  font-weight: 700;
}

.app-header p {
  font-size: 1rem;
  opacity: 0.9;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}
